{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "requirePragma": false,
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react$",
    "^next*",
    "^@(?!components|lib|pages|styles|types|assets).*$",
    "^@(components|lib|pages|styles|types|assets).*$",
    "^\\.[./]",
    ".*"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}