{
  "bracketSpacing": true,
  "importOrder": [
    "^react",
    "^next",
    "^[^.@].*$",
    "^@(?!components|lib|pages|hooks|styles|types|assets).*$",
    "^@(components|lib|pages|hooks|styles|types|assets).*$",
    "^\\.[./]",
    ".*"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 120,
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}